<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/ico" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../semantic/out/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">

	<script src="../semantic/out/jquery-1.11.3.min.js"></script>
	<script src="../semantic/out/semantic.min.js"></script>
</head>
<body>
	<br>
	<center>
        <div class="ui menu" style="width: 90%; display: <% posts.display %>">
			<a href="/dashboard" class="header item">
				<i class="user icon"></i>My Dashboard
			</a>
		   <a class="item" href="/makeBlog">
		     <i class="edit icon"></i>Make Blog
		   </a>
			<a href="/processSignOut" class="item">
    			<i class="power icon"></i>Logout
   			</a>
		</div>
		<% posts.array.forEach(function(post){ %>
		<div class="ui segment" style="width: 70%">
			<div class="content">
	  			<p class="header" style="text-align: start; font-size: 50px; margin-bottom: 0.75rem"><%= post.Title %></p>
	  			<div class="ui section divider"></div>
	  			<div class="description" style="text-align: start">
	    			<div id="<%= post.Url %>"></div>
	    			<script type="text/javascript">
	    				var data = <%- JSON.stringify(post) %>
						$('#' + data.Url).html(data.Content);
					</script>
	  			</div>
	  			<div class="ui section divider"></div>
					<p style="text-align: start">Created: <%= post.Date %></p>
				<div class="extra" style="text-align: start">
					<div class="ui two column grid">
						<div class="row">
							<div class="column">
								<a class="ui labeled icon button posButtons" href="/viewPost/<%= post.Url %>"><i class="arrow right icon"></i>Go to Post</a>
							</div>
							<div class="column">
								<form action="/processDeletePost" method="POST">
									<input type="text" value="<%= post.Url %>" name="url" style="display: none">
									<input type="text" value="<%= posts.blogURL %>" name="blogUrl" style="display: none">
									<button class="ui labeled icon button negButtons" type="submit"><i class="trash icon"></i>Delete Post</button>
								</form>
							</div>	
						</div>
					</div>	
			    </div>
			</div>
		</div>
		<% }) %>
    </center>
</body>
</html>


