<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../semantic/out/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">

	<script src="../semantic/out/jquery-1.11.3.min.js"></script>
	<script src="../semantic/out/semantic.min.js"></script>
</head>
<body>
	<br>
	<center>
        <div class="ui menu" style="width: 90%; display: <% posts.display %>">
			<a href="/dashboard" class="header item">
				<i class="user icon"></i>My Dashboard
			</a>
		   <a class="item" href="/makeBlog">
		     <i class="edit icon"></i>Make Blog
		   </a>
			<a class="item">
    			<i class="list layout icon"></i>Posts
   			</a>
		</div>
		<% posts.array.forEach(function(post){ %>
		<div class="ui segment" style="width: 70%">
			<div class="content">
	  			<p class="header" style="text-align: start; font-size: 30px"><%= post.Title %></p>
	  			<div class="description" style="text-align: start">
	    			<div id="<%= post.Url %>"></div>
	    			<script type="text/javascript">
	    				var data = <%- JSON.stringify(post) %>
						$('#' + data.Url).html(data.Content);
					</script>
	    			<br>
					Created: <%= post.Date %>
	  			</div>
	  			<br>
				<div class="extra" style="text-align: start">
					<div class="ui two column grid">
						<div class="row">
							<div class="column">
								<a href="/viewPost/<%= post.Url %>">Go to Post</a>
							</div>
							<div class="column">
								<a href="/processDeletePost"><i class="trash icon">Delete Post</i></a>
							</div>	
						</div>
					</div>	
			    </div>
			</div>
		</div>
		<% }) %>
    </center>
</body>
</html>


