<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header %>
</head>
<body>
	<br>
	<center>
		<% include ../partials/menu %>	
		<br>
		<h1> List of Your Blogs</h1>
		<br>
		<% blogs.forEach(function(user){ %>
		<div class="item" style="width: 70%; color: white">
			<div class="content">
	  			<a href="/blog/<%= user.Url %>"><p class="header" id="blogTitle"><%= user.Title %></p></a>
	  			<br>
	  			<div class="description" style="text-align: start; font-size: 16px">
	    			<p>Description: <%= user.Description %></p>
	  			</div>
	  			<br>
				<div class="extra" style="text-align: start">
					Category: <%= user.Category %><br>
					Created: <%= user.Date %>
					<br>
					<br>
					<div class="ui two column grid">
						<div class="row">
							<div class="column">
								<a class="ui labeled icon button posButtons" href="/makePost/<%= user.Url %>"><i class="plus icon"></i>Add Post</a>
							</div>
							<div class="column">
								<form action="/processDeleteBlog" method="POST">
									<input type="text" value="<%= user.Url %>" name="url" style="display: none">
									<button class="ui labeled icon button negButtons" type="submit"><i class="trash icon"></i>Delete Blog</button>
								</form>	
							</div>
						</div>
					</div>	
			    </div>
			</div>
		</div>
		<br>
		<div class="ui section divider" style="width: 70%; border-color: white"></div>
		<br>	
		<% }) %>
	</center>	
	<br>
	<br>

</body>
</html>	